RewriteEngine On

# RewriteRule to remove query strings (if needed)
# RewriteRule ^([^?]*)$ /$1 [NC,R,L]

# Additional rewrite rules or redirects can be added here
# Redirect root URL to a specific location if needed
RedirectMatch ^/$ /src/

# If you don't have any other rewrite rules or redirects, you can leave it empty
