@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-inter font-light text-base;
}

.display-1,
h1 {
  @apply font-extrabold text-8xl leading-10 text-primary-dark;
}

h2 {
  @apply font-semibold text-4xl leading-10 text-primary-dark;
}

h3 {
  @apply font-normal text-4xl leading-8 text-primary-dark;
}

h4 {
  @apply font-semibold text-2xl leading-7 text-primary-dark;
}

h5 {
  @apply font-semibold text-xl leading-6 text-primary-dark;
}

h6 {
  @apply text-xl text-primary-dark;
}

.w-container {
  @apply max-w-7xl mx-auto py-8 text-gray-on-text px-8 md:px-0;
}

.b-container {
  @apply  max-w-5xl mx-auto py-16 px-8 md:px-0 md:py-24 text-gray-on-text;
}

.h-container {
  @apply  max-w-5xl mx-auto py-16 px-8 md:px-0 md:pt-24 md:pb-8 text-gray-on-text;
}

.banner-list-text li {
  @apply text-white font-semibold text-xl flex items-center gap-x-2;
}

.banner {
  @apply md:flex flex-col md:w-1/2 space-y-8;
  & p {
    @apply text-sm text-gray-on-black;
  }
}

.work-title {
  @apply text-2xl text-primary-dark font-semibold;
}

.work-sample {
  @apply w-full bg-white rounded p-6;

  & h2 {
    @apply font-bold;
  }

  .objective {
    @apply font-semibold text-primary-dark;
  }

  & ul {
    @apply list-decimal list-inside space-y-1;
  }

  .result-grid {
    @apply grid md:grid-cols-3 grid-cols-1 gap-6;

    .div {
      @apply bg-gray-on-bg px-10 py-7 rounded-md;

      & span {
        @apply font-bold;
      }
    }
  }

  .result-grid-2 {
    @apply grid md:grid-cols-4 grid-cols-1  gap-6;

    .div {
      @apply bg-gray-on-bg px-10 py-7 rounded-md;

      & span {
        @apply font-bold;
      }
    }
  }
}

.wireframes {
  @apply md:flex gap-x-10;

  .img {
    @apply md:w-2/3;

    .sample {
      @apply bg-gray-100 md:h-96;
    }
  }
  & h2 {
    @apply text-xl font-semibold;
  }
  & ul {
    @apply list-outside list-disc pl-6 pt-5;
  }
}

.crown-cursor {
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='68' height='82' viewport='0 0 100 100' style='fill:black;font-size:41px;'><text y='50%'>👑</text></svg>")
      16 0,
    auto;
}

.pause-cursor {
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='68' height='82' viewport='0 0 100 100' style='fill:black;font-size:41px;'><text y='50%'>⏸</text></svg>")
      16 0,
    auto;
}

.owl-work-1 {
  .owl-prev {
    @apply !bg-m-orange !bg-opacity-25 !border-m-orange absolute top-1/2 w-10 h-10 -left-16;
  }

  .owl-next {
    @apply  !bg-m-orange !bg-opacity-25 !border-m-orange absolute top-1/2 w-10 h-10 -right-16;
  }
  .owl-dots {
    @apply space-x-3 m-auto text-center;
    .owl-dot {
      @apply h-3 w-3 bg-gray-on-bg rounded-full hover:bg-m-orange;
    }
    .active {
      @apply bg-m-orange;
    }
  }
}

.owl-reels {
  .owl-prev {
    @apply !bg-black absolute z-50 top-1/2 w-10 h-10 left-2;
  }

  .owl-next {
    @apply !bg-black absolute z-50 top-1/2 w-10 h-10 right-2;
  }

  .owl-dots {
    @apply space-x-3 m-auto text-center absolute md:top-20 bottom-2 mx-auto w-full;
    .owl-dot {
      @apply h-1 md:w-16 w-3 bg-gray-on-bg rounded-full hover:bg-primary-dark;
    }
    .active {
      @apply bg-primary-dark md:w-32 w-16;
    }
  }
}

.owl-testimonial {
  .owl-dots {
    @apply space-x-3 m-auto text-left;
    .owl-dot {
      @apply h-3 w-3 bg-gray-on-bg rounded-full hover:bg-m-orange;
    }
    .active {
      @apply bg-m-orange;
    }
  }
}

.menu {
  .active {
    @apply text-m-orange;
  }
}
#pageContent,
#errorMessage {
  display: none;
}

.scroll {
	width: 40px;
	height: 40px;
	border: 1px solid #6E6E6E;
	border-radius: 50%;
	position: relative;
	animation: down 1.5s infinite;
	-webkit-animation: down 1.5s infinite;
	&::before {
		content: '';
		position: absolute;
		top: 10px;
		left: 13px;
		width: 12px;
		height: 12px;
		border-left: 1px solid #6E6E6E;
  	border-bottom: 1px solid #6E6E6E;
		transform: rotate(-45deg);
	}
}

@keyframes down {
	0% {
		transform: translate(0);
	}
	20% {
		transform: translateY(15px);
	}
	40% {
		transform: translate(0);
	}
}

@-webkit-keyframes down {
	0% {
		transform: translate(0);
	}
	20% {
		transform: translateY(15px);
	}
	40% {
		transform: translate(0);
	}
}

